@import "variables";

:host {
  height: $app-navbar-height;
  display: block;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.taskbase-logo {
  height: 16px;
  @media (min-width: $tb-breakpoint-md) {
    height: 20px;
  }
}
