<ng-container [ngSwitch]="icon">
  <app-icon-left-arrow
    *ngSwitchCase="'left-arrow'"
    [color]="color"
    [scale]="scale"
  >
  </app-icon-left-arrow>
  <app-icon-right-arrow
    *ngSwitchCase="'right-arrow'"
    [color]="color"
    [scale]="scale"
  />
  <app-icon-caret-right
    *ngSwitchCase="'caret-right'"
    [color]="color"
    [scale]="scale"
  />
  <app-icon-question-mark
    *ngSwitchCase="'question-mark'"
    [color]="color"
    [scale]="scale"
  />
  <app-icon-hamburger
    *ngSwitchCase="'hamburger'"
    [color]="color"
    [scale]="scale"
  />
  <app-icon-hexagon *ngSwitchCase="'hexagon'" [color]="color" [scale]="scale" />
  <app-icon-file-download
    *ngSwitchCase="'file-download'"
    [color]="color"
    [scale]="scale"
  />
</ng-container>
