<div class="landing-page-wrapper">
  <div class="landing-page">
    <tb-h3 color="primary" marginBottom="48px">
      Hi there,<br />
      what would you like to learn today?
    </tb-h3>
    <div class="landing-page-circles-wrapper">
      <div class="landing-page-circles">
        <div *ngFor="let chatbot of chatbots" class="progress-circle">
          <tb-progress-circle
            (click)="onClick(chatbot)"
            [progress]="0"
            [icon]="getIcon(chatbot)"
            [subtitle]="chatbot.name"
            [contentText]="null"
          />
        </div>
      </div>
    </div>
  </div>
</div>
