<div class="circle">
  <svg>
    <circle
      class="circle-track"
      [attr.cx]="center"
      [attr.cy]="center"
      [attr.r]="radius"
    ></circle>
    <circle
      class="circle-progress"
      [attr.cx]="center"
      [attr.cy]="center"
      [attr.r]="radius"
      [ngStyle]="{
        'strokeDasharray.px': arcLength,
        'strokeDashoffset.px': getArcOffset()
      }"
    ></circle>
  </svg>

  <div
    class="circle-content"
    [ngClass]="
      contentBackground === 'primary'
        ? 'circle-content-primary'
        : 'circle-content-secondary'
    "
  >
    <div class="circle-content-inner">
      <img [src]="icon" width="48" height="48" class="circle-icon" />
      <div class="circle-progress">
        {{ contentText === null ? progress + "%" : contentText }}
      </div>
    </div>
  </div>
</div>

<div class="subtitle" *ngIf="subtitle !== null">
  {{ subtitle }}
</div>
