@import "src/styles/variables";

.wrapper {
  display: flex;

  .language-selector-button {
    border-bottom: 2px solid transparent;

    &.selected {
      border-bottom-color: $color-primary;
    }
  }
}
