@import "src/styles/variables";

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .language-selector-button {
    border-bottom: 2px solid transparent;
    padding-bottom: 12px;

    &.selected {
      border-bottom-color: $color-primary;
    }
  }
}
