<div class="chat">
  <div
    class="chat-box"
    [ngClass]="message.isTaskbase ? 'chat-box-taskbase' : 'chat-box-user'"
  >
    <img
      [src]="
        message.isTaskbase
          ? 'assets/img/icons/avatar.png'
          : 'assets/img/icons/single-neutral-circle.svg'
      "
      width="32"
      height="32"
    />
    <div *ngIf="message.text">
      <div *ngIf="formattedMessage" [innerHTML]="formattedMessage"></div>
    </div>
    <div *ngIf="message.audio">
      <audio [src]="message.audio" controls></audio>
    </div>
  </div>
</div>
